* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.checkbtn {
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}

#check {
  display: none;
}

.desktop-nav-bar {
  display: none;
}

nav {
  display: inline;
}

.mobile-nav-bar .logo {
  line-height: 70px;
  padding-top: 20px 20px;
  padding-left: 20px;
}

.mobile-nav-bar .list {
  float: right;
  margin: auto 40px;
  position: relative;
  width: 65%;
  height: 34vh;
  top: 40px;
  left: -100%;
  text-align: center;
  transform: all 0.5s;
  background: white;
  margin: 0 auto;
}

#check:checked ~ .mobile-nav-bar .list {
  left: 0;
}

.mobile-nav-bar .list li {
  display: block;
  line-height: 50px;
  margin: 0 10px;
  cursor: pointer;
}

.mobile-nav-bar .list li a {
  color: black;
  padding: 8px 16px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 3px;
}

.mobile-nav-bar .list li.active {
  border-top: 1px solid grey;
  padding: 11px;
}

.mobile-nav-bar .list li a.active {
  color: grey;
}

@media (min-width: 768px) {
  header nav {
    width: 95%;
    height: 80px;
  }

  .mobile-nav-bar {
    display: none;
  }

  .desktop-nav-bar .logo1 {
    line-height: 70px;
    padding-top: 20px 20px;
    padding-left: 20px;
    padding-top: 10px;
  }

  .desktop-nav-bar {
    display: flex;
    justify-content: space-between;
  }

  .list1 {
    display: flex;
  }

  .list1 li {
    padding-top: 0.8rem;
  }

  .desktop-nav-bar .list1 li.active {
    border-top: 0;
  }

  .checkbtn {
    display: none;
  }

  .desktop-nav-bar .list1 li {
    display: block;
    line-height: 50px;
    margin: 0 10px;
    cursor: pointer;
  }

  .desktop-nav-bar .list1 li a {
    color: black;
    padding: 8px 16px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 3px;
  }

  .desktop-nav-bar .list1 li.active {
    padding: 11px;
  }

  .desktop-nav-bar .list1 li a.active {
    color: grey;
  }
}
